body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position : 100px 100px; 
}


.special { /* any element with class="special" */
background-color: yellow;
font-weight: bold;
}
p.shout { /* only p elements with class="special" */
color: red;
font-family: cursive;
}